{% extends "base.html" %}

{% load static %}

{% block body %}

{% csrf_token %}
<div class="container">

    <div class="m2m-container">
        <h2>Machine2Machine Game!</h2>
        <br>

        <div class="m2m-select-container">
            <label for="ai1">Machine 1</label>
            <select type="text" id="ai1" name="colorSelect">
                {% for dis, ai in game_levels %}
                    <option>{{ ai }}</option>
                {% endfor %}
             </select>
            <br>
            <label for="ai2">Machine 2</label>
            <select type="text" id="ai2" name="colorSelect">
            {% for dis, ai in game_levels %}
                <option>{{ ai }}</option>
            {% endfor %}
            </select>
            <br>
            <button id="run-button" class="btn btn-outline-success">Run</button>
        </div>
        <div class="player-colors">
            Player 1: <div class="player-color-dot">
                <span class="dot_empty " id="color_dot_player1"></span>
            </div>
            Player 2: <div class="player-color-dot">
                <span class="dot_empty" id="color_dot_player2"></span>
            </div>

        </div>
    </div>

    <div class="spacer"></div>

    <div id="board_parent">
        <div id="board_child">
          <div class="container board_glow_green" id="board">
          {% for line in board %}
              <div class="row" style="height: 12%">
              {% for cell in line %}
                  <div class="col padding-0">
                  <span class="dot_empty" id="{{forloop.parentloop.counter0}}{{forloop.counter0}}"></span>
                  </div>
              {% endfor %}
              </div>
          {% endfor %}
          </div>
      </div>
    </div>

    <div>
        <div id="win-score"></div>
        <div id="win-message"></div>
    </div>

<div class="spin-container" id="spinner">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


</div>


<script src="{% static 'm2m.js' %}"></script>

{% endblock %}
