<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE</title>
</head>
<body>
<h1>Server Sent Events</h1>
<button onclick="startSSE()">Start</button>
<button onclick="stopSSE()" disabled>Stop</button>
<div id="sse-data"></div>

<script>
    let eventSource;
    const sseData = document.getElementById('sse-data');

    function startSSE() {
        sseData.innerHTML = '';
        eventSource = new EventSource('/simulator/stream/');
        eventSource.onmessage = event => sseData.innerHTML += event.data + '<br>';
        document.querySelector('button[onclick="startSSE()"]').disabled = true;
        document.querySelector('button[onclick="stopSSE()"]').disabled = false;
    }

    function stopSSE() {
        if (eventSource) {
            eventSource.close();
        }
        document.querySelector('button[onclick="startSSE()"]').disabled = false;
        document.querySelector('button[onclick="stopSSE()"]').disabled = true;
    }
</script>
</body>
</html>

