{% extends "base.html" %}

{% block heading %}

{% endblock %}

{% load static %}

{% block body %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Arena</title>
    <link rel="stylesheet" href="{% static 'arena.css' %}" type="text/css">
</head>
<body>
    <div class="container">

        {{ username|json_script:"json-username" }}
        <div class="create-game-submit-container">
            <button class="btn btn-outline-success" id="create-game-submit">Open New Match</button>
        </div>
        <div class="match-list-container" id="match-list-container">
            <br>
            <div class="match-list" id="match-list">
                {% for name, host in open_matches %}
                <div class="flex-container match-container" id="{{ name }}">
                    <div class="flex-item-game" id="gameName">
                        {{ name }}
                    </div>
                    <div class="flex-item-user" id="hostName">
                        {{ host }}
                    </div>
                    {% if username == host %}
                    <div class="wave-box">
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                    </div>
                    {% else %}
                    <a href="javascript:handleSelectGame('{{ name }}')">
                    <div class="wave-box">
                        <div class="wave-good"></div>
                        <div class="wave-good"></div>
                        <div class="wave-good"></div>
                        <div class="wave-good"></div>
                        <div class="wave-good"></div>
                        <div class="wave-good"></div>
                    </div>
                    </a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>

        <h6>Live chat:</h6>

        <div class="arena-chat-log" id="chat-log"></div>
        <!--<textarea class="form-control" id="chat-log" rows="10"></textarea><br>-->
        <div class="chat-message-input-container">
            <input id="chat-message-input" placeholder="Write a message here...">
        </div>


    </div>




</body>

<script src="{% static 'arena.js' %}"></script>

{% endblock %}