{% extends "base.html" %}

{% block body %}

<div class="container">
  <div id="login_parent">
    <div id="login_child">
      <h2>Login</h2>
      {% if message %}
        {{ message }}
      {% endif %}
      <br>
      <br>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
          Username:<input class="form-control" name="username" type="text" placeholder="username">
          Password:<input class="form-control" name="password" type="password" placeholder="password">
          <input type="hidden" name="redirect" type="text" value="{{ level }}">
          <br>
          <button class="btn btn-danger">Login</button>
      </form>
      <br>
      Not registered yet? <a href="{% url 'register' %}">Register here</a>
    </div>
  </div>


</div>


{% endblock %}
