{% extends "base.html" %}

{% block body %}

<div class="container">
  <div id="login_parent">
    <div id="login_child">
      <h2>Sign-Up</h2>
      {% if message %}
        {{ message }}
      {% endif %}
      <br>
      <br>
      <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          Username: <input class="form-control" name="username" type="text" placeholder="username">
          Password: <input class="form-control" name="password" type="password" placeholder="password">
          <br>
          <button class="btn btn-outline-danger">Register</button>
      </form>
      <br>
      Already singed-up? <a href="{% url 'login' %}">Login here</a>
    </div>
  </div>
</div>

{% endblock %}
