:root {
  --bg_color: #212529;
  --white: #ffffff;
}

html, body {
    background-color: var(--bg_color);
    color: lightgrey;
}

a {
  color: red;
}

h6 {
    margin-top:3vh;
}

a:hover {
  color: green;
}

.nav-item {
    padding-left: 20px;
    white-space: nowrap;
}

.navbar-brand {
    padding-left: 20px;
}


.dropdown-item{
    color: lightgrey;
}

#board_parent{
   display: flex;
   margin-top: 10px;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   height: auto;
}

#board_child{
   position: relative;
}

#board{
   width: 70vw;
   height: 70vw;
   max-height: 70vh;
   max-width: 70vh;
}

.board_glow_green{
    box-shadow: 0 0 8px 8px rgba(0, 225, 0, 0.2), 0 6px 20px 8px rgba(0, 225, 0, 0.19);
}

.board_glow_blue{
    box-shadow: 0 0 8px 8px rgba(10, 10, 255, 0.2), 0 6px 20px 8px rgba(10, 10, 255, 0.19);
}

.board_glow_green_blue_cycle{
    box-shadow: 0 4px 8px 0 rgba(0, 225, 0, 0.2), 0 6px 20px 0 rgba(0, 225, 0, 0.19);
    animation: 3s infinite color-fader;
    animation-fill-mode: forwards;
    animation-play-state: play;
}

@keyframes color-fader {
    0% {
        box-shadow: 0 4px 8px 0 rgba(0, 225, 0, 0.2), 0 6px 20px 0 rgba(0, 225, 0, 0.19);
    }
    50% {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 255, 0.19);
    }
    100% {
        box-shadow: 0 4px 8px 0 rgba(0, 225, 0, 0.2), 0 6px 20px 0 rgba(0, 225, 0, 0.19);
    }
}

#player_box {

}

#player1_box {
    color: green;
}

#player2_box {
    color: blue;
}

#score_box {
  color: lighgrey;
  text-align: right;
}

.comm-box {
  margin-top: 5%;
  font-size: calc(6px + 1.5vw);
  width: 70vw;
  padding: 5px;
}

#message_box {
  font-size: calc(6px + 1.5vw);
}

#level_box{
  color: orange;
  font-size: calc(6px + 1.5vw);
  width: 20vw;
}

#savedgames {
  margin-top: 1%;
  color: white;
  overflow: scroll;
  height: 85vh;
}

.savegamerow {
  color: white;
  background: rgba(255,255,255,0.1);
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

.gameid_label {
    padding: 5px;
    margin-right: 5px;
    color: lighgrey;
}

.savegamerow:hover {
  color: green;
  text-align: center;
  padding-top: 12px;
  box-shadow: 0px 0px 8px 8px rgba(0, 225, 0, 0.2)
}

.savegameheader{
  height: 50px;
  padding-top: 12px;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: min(4vw, 18px);
  margin-bottom: 10px;
}


#login_parent{
   display: flex;
   align-items: center;
   justify-content: left;
   position: relative;
   width: 100%;
   height: 100%;
}

#login_child{
   margin: 5vh;
   position: relative;
   top: -10%;
}

#spinner{
    visibility: hidden;
    width: 10vh;
    height: 10vh;
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.navbar-right {
  margin-right: 10px;
  margin-left: 0px;
}

.navbar-light{
  font-weight: bold;
}

.dot_empty {
  height: 95%;
  width: 95%;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  display: inline-block;
}

.dot_possible {
  height: 95%;
  width: 95%;
  background: rgba(255,255,255,1);
  border-radius: 50%;
  display: inline-block;
}

.dot_p1 {
  height: 95%;
  width: 95%;
  background-color: green;
  border-radius: 50%;
  display: inline-block;

  animation-name: flash_appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: play;
}

.dot_p2 {
  height: 95%;
  width: 95%;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;

  animation-name: flash_appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: play;
}

@keyframes flash_appear {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

.gameover-box{
  font-weight: bold;
  text-align: center;
  font-size: 12vw;
  background: rgba(0,0,0,0.8);
  color: orange;
  position: absolute;
  float: left;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#gameovertext{
  opacity: 1;
}

a.divlink {
    color: white;
    display:block;
    width:100%;
    height:50px;
}

a.divlink:hover {
    color: green;
    display:block;
    width:100%;
    height:50px;
}

.lds-grid {
  position: relative;
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 2;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.player_self_box_container{
    width: 6vw;
    height: 6vw;
    align-items: center;
    padding: 5px;
    max-width: 70px;
    max-height: 70px;
}