<!DOCTYPE html>
    <head>
        {% load static %}
        <title>Reversi</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link href="{% static "/open-iconic/font/css/open-iconic-bootstrap.css" %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        {% block heading %}
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">rev3rsi</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New Game
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                  {% for disabled, dif in game_levels %}
                  <a class="dropdown-item {{ disabled }}" href="{% url 'newgame'%}?difficulty={{ dif }}">{{ dif }}</a>
                  {% endfor %}
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/arena"><span class="oi oi-chat" title="login" aria-hidden="true"></span> Arena</a>
                </li>

                {% if user %}
                  <li class="nav-item">
                    <a class="nav-link" href="/savedgames"><span class="oi oi-people" title="savedgames" aria-hidden="true"></span> {{ user.username}}'s Games</a>
                  </li>
                  <li class="nav-item navbar-right">
                    <a class="nav-link" href="/logout"><span class="oi oi-account-logout" title="logout" aria-hidden="true"></span> Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/register"><span class="oi oi-people" title="register" aria-hidden="true"></span> Sign-Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="oi oi-account-login" title="login" aria-hidden="true"></span> Login</a>
                  </li>
                {% endif %}

          </ul>
          </div>
          </nav>
        {% block body %}
        {% endblock %}

        <script>

        </script>

    </body>
</html>
