<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Reversi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link href="{% static "/open-iconic/font/css/open-iconic-bootstrap.css" %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        {% block heading %}
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">rev3rsi</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-dark">
                <li class="nav-item dropdown navbar-dark">
                <a class="nav-link dropdown-toggle navbar-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New Game
                </a>
                <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdownMenuLink">
                  {% for disabled, dif in difficulties %}
                  <a class="dropdown-item {{ disabled }}" href="{% url 'newgame'%}?difficulty={{ dif }}">{{ dif }}</a>
                  {% endfor %}
                </div>

                {% if user %}
                  <li class="nav-item">
                    <a class="nav-link" href="/savedgames"><span class="oi oi-people" title="savedgames" aria-hidden="true"></span> {{ user.username}}'s Games</a>
                  </li>
                  <li class="nav-item navbar-right">
                    <a class="nav-link" href="/logout"><span class="oi oi-account-logout" title="logout" aria-hidden="true"></span> Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/register"><span class="oi oi-people" title="register" aria-hidden="true"></span> Sign-Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="oi oi-account-login" title="login" aria-hidden="true"></span> Login</a>
                  </li>
                {% endif %}

          </ul>
          </div>
          </nav>
        {% block body %}
        {% endblock %}

        <script>

        </script>

    </body>
</html>
