{% extends "base.html" %}

{% load static %}

{% block heading %}

{% endblock %}

{% block body %}

<!-- container for info messages -->
<div class="container comm-box">
    <div class="row">
        <div class="col-3">
            <div id='player1_box'>P1: {{ player1_name }}</div>
            <div id='player2_box'>P2: {{ player2_name }}</div>
        </div><div class="col-1">
            You:
        </div>

        <div class="col-1">
            <div class="player_self_box_container">
                {% if user_color == "green" %}
                <div class="dot_p1"></div>
                {% else %}
                <div class="dot_p2"></div>
                {% endif %}
            </div>
        </div>

        <div class="col-6">
            <div id='score_box'></div>
        </div>
    </div>
</div>

<!-- game board container -->
<div id="board_parent">
    <div id="board_child">
        <!-- container for the game board -->
        {% if user_color == "green" %}
            <div class="container board_glow_green" id="board">
        {% else %}
            <div class="container board_glow_blue" id="board">
        {% endif %}
          {% for line in board %}
            <div class="row" style="height: 12%">
              {% for cell in line %}
                <div class="col padding-0">
                    <a href="#"><span class="dot_empty" id="{{forloop.parentloop.counter0}}{{forloop.counter0}}" onclick="move({{forloop.parentloop.counter0}}, {{forloop.counter0}});return false;"></span></a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
    </div>
</div>

<div class="container comm-box">
  <div class="row">
      <div class="col-9">
          <div id='message_box'></div>
      </div>
      <div class="col-2">
          <div id='level_box'>Level: {{ game_level }}</div>
      </div>
  </div>
</div>

<div class="container game-nav-box">
    <a href="{% url 'load_prev_gamestate'%}"><div class="oi oi-action oi-action-undo" id="button-back"></div></a>
    <div class="oi oi-action oi-action-redo" id="button-fwd"></div>
</div>

<div class="container">
  <div id="gameoverbox"><span id="gameovertext"></span></div>
</div>

<div class="spin-container" id="spinner">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- JS: game board update and click capture and redirect to "move" post method -->
<script src="{% static 'reversi.js' %}"></script>

{% endblock %}