{% extends "base.html" %}

{% load static %}

{% block heading %}

{% endblock %}

{% block body %}
<head>
        <link rel="stylesheet" href="{% static 'arena.css' %}" type="text/css">
</head>

<!-- container for info messages -->
<div class="container comm-box">
    <div class="row">
        <div class="col-3">
            <div id='player1_box'>Player 1: {{ player1_name }}</div>
            <div id='player2_box'>Player 2: {{ player2_name }}</div>
        </div><div class="col-1">
            You:
        </div>
        <div class="col-2">
            <div class="player_self_box_container">
                <div id='player_self_box'>
                    {% if user_color == "green" %}
                    <div class="dot_p1"></div>
                    {% else %}
                    <div class="dot_p2"></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-6">
            <div id='score_box'></div>
        </div>
    </div>
</div>

<!-- game board container -->
<div id="board_parent">
    <div id="board_child">
        <!-- container for the game board -->
        <div class="container" id="board">
          {% for line in board %}
            <div class="row" style="height: 12%">
              {% for cell in line %}
                <div class="col padding-0">
                    <a href="#"><span class="dot_empty" id="{{forloop.parentloop.counter0}}{{forloop.counter0}}" onclick="move({{forloop.parentloop.counter0}}, {{forloop.counter0}});return false;"></span></a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
    </div>
</div>

<div class="container comm-box">
  <div class="row">
      <div class="col-9">
          <div id='message_box'></div>
      </div>
      <div class="col-2">
          <div id='level_box'>Level: {{ game_level }}</div>
      </div>
  </div>
</div>

<div class="container">
  <div id="gameoverbox"><span id="gameovertext"></span></div>
</div>

<div class="match-chat-log" id="chat-log"></div>
<!--<textarea class="form-control" id="arena-log" rows="10"></textarea><br>-->
<div class="chat-message-input-container">
    <input id="chat-message-input" placeholder="Write a message here...">
</div>

{{ username|json_script:"json-username" }}
{{ game_id|json_script:"json-gameId" }}
<!-- JS: game board update and click capture and redirect to "move" post method -->
<script src="{% static 'reversimatch.js' %}"></script>

{% endblock %}
