{% extends "base.html" %}

{% block heading %}

{% endblock %}


{% block body %}
<div class="container">

    <br>
    <h3>Game History</h3>
    <br>
    <div class="container" id="savedgames">
      <div class="row savegameheader">
          <div class="col-2">
            Game
          </div>
          <div class="col-2">
            Player1
          </div>
          <div class="col-2">
            Player2
          </div>
          <div class="col-2">
            Winner
          </div>
          <div class="col-3">
            Scores
          </div>
          <div class="col-1">
            X
          </div>
      </div>
      <div class="row" style="height: 5px;"></div>

      {% for game in saved_games %}
      <div class="row savegamerow">
          <div class="col-2">
            <a class="divlink" href="{% url 'loadgame'%}?game_id={{ game.id }}" title="{{ game.id }}">
                <div class="gameid_label"> {{ game.id }}</span></div>
            </a>
          </div>
          <div class="col-2">
            <a class="divlink" href="{% url 'loadgame'%}?game_id={{ game.id }}">
                {{ game.player1 }}
            </a>
          </div>
          <div class="col-2">
            <a class="divlink" href="{% url 'loadgame'%}?game_id={{ game.id }}">
                {{ game.player2 }}
            </a>
          </div>
          <div class="col-2">
            <a class="divlink" href="{% url 'loadgame'%}?game_id={{ game.id }}">
                {% if game.game_over %}
                    {% if game.score_p1 == game.score_p2 %}
                      <span style="color: orange";>
                      Draw
                      </span>
                    {% else %}
                        {% if game.score_p1 > game.score_p2 %}
                            <span style="color: green";>
                            P1
                            </span>
                        {% else %}
                            <span style="color: blue";>
                            P2
                            </span>
                        {% endif %}
                    {% endif %}

                {% else %}
                  -
                {% endif %}
            </a>
          </div>
          <div class="col-3">
            <a class="divlink" href="{% url 'loadgame'%}?game_id={{ game.id }}">
                {{ game.score_p1 }} / {{ game.score_p2 }}
              </a>
          </div>
            <div class="col-1">
              <a class="divlink" href="{% url 'deletegame' %}?game_id={{ game.id }}">
              <span class="oi oi-delete" title="delete game"></span>
              </a>
            </div>
      </div>

      <div class="row" style="height: 5px;"></div>

      {% endfor %}
    </div>

</div>

{% endblock %}
